@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300&display=swap");

// Set your brand colors
$gold: #f8e409;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// Update Bulma's global variables
$family-secondary: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$family-primary: "Archivo Black", sans-serif;
// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//hero background

.has-background {
  background-image: url("../windows-2EwyKv4-03k-unsplash.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
}
@media (max-width: 768px) {
  .has-background {
    background: url("../windows-2EwyKv4-03k-unsplash.jpg") center / cover;

  }
}


.title {
  letter-spacing: 0.7em;
  font-family: $family-primary;
}
h2.subtitle {
  font-family: $family-secondary;
  line-height: 80px;
  letter-spacing: 0.7em;
}

.button {
  width: 300px;
}

.navbar a {
  color: rgba(0, 0, 0, 0.7);
}

.box  {
  padding-bottom: 1rem;
}

#features p.card-header-title {
  text-align: center;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
